---
layout: default
---

<header class="site-header">
  <div class="header-inner">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      {% if site.social-github %}
      <a href="http://github.com/{{ site.social-github }}" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
      {% endif %}
      {% if site.social-linkedin %}
      <a href="https://linkedin.com/in/{{ site.social-linkedin }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
      {% endif %}
    </nav>
  </div>
</header>

<main class="site-main">
  {{ content }}
</main>

<footer class="site-footer">
  <p>{{ site.time | date: '%Y' }} &copy; {{ site.author }}</p>
</footer>
